body {
    font-family: 'NanumSquare', 'Open Sans', sans-serif;
}
header{
    width: 100%;
    height: 900px;
    background-image: url('../img/header-photo.png');
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.first-wrap {
	width: 100%;
    height: 900px;
    background: red;
    
}